@model MVC_CORE_Employee_Registration.Models.Employee

@{
    ViewData["Title"] = "CreateEmployee";
}

<h1>Register Employee</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployee">
            @*CreateEmployee is replaced with AddEmployee because we want to redirect it to the method AddEmployee*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="hidden" asp-for="ID" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" autocomplete="off" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="DeptID" class="control-label"></label>
            <input asp-for="DeptID" class="form-control" />
            <span asp-validation-for="DeptID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" autocomplete="off" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="DeptID" class="form-control" asp-items="@(new SelectList(ViewBag.DeartmemtList,"ID","Department"))"></select>
                
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" autocomplete="off" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Department" class="control-label"></label>
            <input asp-for="Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="EmployeeList" class="btn btn-outline-success">Employee List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
